<!DOCTYPE html>
<html>
<head>
  <title>HackIllinois 2017</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/detailsEntry.css">
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
</head>

<body>
<div class="example3">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://hackillinois.org"><img src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_thumbnails/000/474/994/datas/medium.png" alt="HackIllinois 2017">
        </a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>

        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        </ul>

      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>
<div class="container">
  <div class="content">
    <div class="row bg-image" style="height:100%;">
      <img src="snow.jpg" style="width:1532px"/>
    </div>

    <div id="sgf" class="row">
      <div class="col-md-3">
      </div>
    <div class="col-md-8 jumbotron" style="background-color:#0e2347">
      <form action="itenerary" method="get">
        <div class="radio form-inline">
          <label class="label-color"><input type="radio" name="optradio">One way</label>
          <label class="label-color"><input type="radio" name="optradio">Round Trip</label>
          <label class="label-color from-inline pull-right"><input type="checkbox" value="">Direct Flights  </label>
        </div>
        <div class="form-group">
          <label class="label-color">Source</label>
          <input type="text" name="source" class="form-control">
        </div>
        <div class="form-group">
          <label class="label-color">Destination</label>
          <input type="text" name="destination" class="form-control">
        </div>
        <div class="form-group">
          <label class="label-color">Departure date</label>
          <input type="date" name="dept" class="form-control datepicker">
        </div>
        <div class="form-group">
          <label class="label-color">Arrival date</label>
          <input type="date" name="arrival" class="form-control datepicker">
        </div>
        <!--<button class="btn btn-primary btn-block">Sign Up</button>-->
        <input type="submit" name="submit" class="form-control btn btn-primary btn-block">
        <!--<a href="itenerary" class="btn btn-primary btn-block">Search Flight</a>-->
        <!--<input type="submit" value="DetailEntry.html" class="btn btn-primary btn-block">-->
        <div class="clearfix"></div>
      </form>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
  </div>
</body>


<script type="text/javascript">

</script>
</html>
