.dropdown:hover .dropdown-menu {
display: block;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}
.example3 {
  padding: 0px;
  margin: 0px;
}
.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.content{
  /* This image will be displayed fullscreen */
  
  position:relative;
  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;

  /* The Magic */
 
}

.bg-image{
  position: absolute;
  z-index:0;
  opacity: 0.7;
}

.fg-image{
  position: absolute;
  z-index:1;
  margin-left:300px;
  margin-top:100px;
}

.content{
  margin-left:-190px;
}

.snap_container
{
  margin-left: 4;
  margin: 2;
}

blockquote{
  background-color: white
}
